# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://janedoe:mypassword@localhost:5432/mydb?schema=sample"
PINECONE_API_KEY=pinecone-api-key-memohomie-index
PINECONE_ABOUT_API_KEY=pinecone-api-key-abouts-index
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_abcd
OPENAI_API_KEY=sk-proj-abcd
CLERK_SECRET_KEY=sk_test_abcd
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/memos
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/memos
UCOKGG="user_abcd"
